/* =Typography
-----------------------------------------------------------------------------*/
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
<link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet"> 



.main__title {
	font-size: 28px;
	font-size: 1.75rem;
}

.main__content {
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.meta {
	font-size: 23px;
	font-size: .8125rem;
	vertical-align: baseline;
}

.meta,
.meta a {
	color: #666;
}

.meta a:hover {
	color: #e22d30;
}

.meta__item {
	display: inline;
	margin-left: 15px;
}

.meta__item:first-child {
	margin-left: 0;
}

.meta__icon {
	margin-right: 5px;
	vertical-align: middle;
	fill: #c4c4c4;
}

.meta__text {
	vertical-align: middle;
	font-size: 13px;
    font-weight: 4COde.00;
	font-family: 'Jost', 'Futura', 'Source Sans Pro', 'PT Mono', sa;
}



h1 h2 h3 h4 h5 h6 {
	font-family: 'Jost', 'Futura', 'Source Sans Pro', 'PT Sans Narrow', sa;
	font-style: normal;
	font-size: 22px;
	font-weight: 700;
	color: #34495e;
}

.list__item {
	padding-bottom: 20px;
	padding-bottom: 0.25rem;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
	border-bottom: 1px solid #ebebeb;
}

.header .site-navbar .menu .menu-item {
    position: relative;
    font-family: 'Jost', 'Futura', 'PT Sans Narrow';
    font-size: 15px;  

}

li {

	font-size: 16px;
	font-family:  'PT Sans Narrow', 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	font-weight: 200;
}


img[src*="#wider"] {
	margin-left: -5vw;
	position: relative;
	vertical-align: baseline;
}

img + em {
    font-style: normal;
    display: block;
    text-align: right;
    font-size: 85%;
}

.post .post-content img[src*="#wider"] {
    display: inline-block;
    max-width: 120%;
}

.post .post-content img[src*="#wider"] {
    display: inline-block;
    max-width: 115%;
}

#main {
  margin-top: 2em;
  margin-bottom: 4em;
  width: 800px;
}

*body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.05em;
	line-height: 1.6em;
	background-color: #faf8f8;
	-webkit-font-smoothing: antialiased;

}

.main .pubs a {
	color: #0047ab;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;

}

.main .content p a {
	color: #0047ab;
	text-decoration: none;
	-webkit-font-smoothing: antialiased;

}


h1 {
	font-family: 'Jost', 'Futura', 'Source Sans Pro', sa;
	font-style: normal;
	font-size: 20px;
	font-weight: 700;
	color: #34495e;
}

h2, h3 {
	font-family: 'Jost', 'Futura', 'Source Sans Pro', sa;
	font-style: normal;
	font-size: 22px;
	font-weight: 700;
	color: #4d6d8c;
}

h4, h5 {
	font-family: 'Jost', 'Futura', 'Source Sans Pro', sa;
	font-style: normal;
	font-size: 18px;
	color: #4d6d8c;
	font-weight: 500;
}

h6 {
	font-family: 'Jost', 'Futura', 'Source Sans Pro', sa;
	font-style: normal;
	font-size: 16px;
	font-weight: 600;
	margin: 20px;
	color: #4d6d8c;
}

li {

	font-size: 15px;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.5;
	font-weight: 200;
}

li a {
    text-decoration: none;
    background-color: transparent;
}

/*dl {

	font-size: 4px;
	font-family: sans-serif;
	line-height: 1.5;
	font-weight: 200;
}

.header .site-navbar .menu .menu-item {
    position: relative;
    font-family: 'Jost', 'Futura', 'Jost';
    font-size: 15px;
    
    
}

.site-navbar .menu li {
    font-weight: 600;
    color: #34495e;
    
}

.archive .collection-title .archive-year {
	font-size: 20px;
	font-weight: 700;
	font-family: 'Jost', 'Futura';


}

.archive .archive-post .archive-post-time {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Jost', 'Futura';

}

.archive .archive-post .archive-post-title {
	font-size: 16px;
	font-weight: 400;
	font-family: 'Jost', 'Futura', 'Source Sans Pro', sans-serif;
	line-height: 1.5;

}

.post__header { 

	font-family: 'Jost', 'Futura', 'Source Sans Pro', sa;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	color: #34495e;

 }

.post .post-content h2 { 

	font-family: 'Jost', 'Futura', 'Source Sans Pro', sa;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: #34495e;

 }

 .post .post-content h3 { 

	font-family: 'Jost', 'Futura', 'Source Sans Pro', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #34495e;

 }

.main {

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15.5px;
	font-weight: 400; 


}

.post .post-header .post-title{

	font-family: 'Jost', 'Futura', 'Source Sans Pro', sa;
	font-style: normal;
	font-size: 22px;
	font-weight: 600;
	color: #34495e;
	font-weight: 800px;
}

.content .post .post-header{

	font-family: 'Jost', 'Futura', 'Source Sans Pro', sa;
	font-style: normal;
	font-size: 18px;
	font-weight: 500;
	color: #34495e;
}

.post .post-header .post-meta{

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 10px;
	color: #6;
	font-weight: 100;
}

.footer .copyright {

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12px;
}
.href {  

	color: #0047ab
}

<link rel="stylesheet" href="https://indestructibletype.com/fonts/Jost.css" type="text/css" charset="utf-8" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Alegreya&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">